
/*  Global   */
html, body{ width:100%; height:100%;}
body{ font-family:Arial, Verdana; font-size:12px; background:url(../imagens/faixa.jpg) repeat-x #373435;}
a{text-decoration:none; color:#5c5c5c; outline:none;}
a:hover{text-decoration:underline;}
.inputsite{font-family: Arial;font-size: 12px;border: 1px solid black;margin-top:2px;margin-botton:2px;color:#666;}
.clear {clear:both;}

/*  Header   */
div#header { width:960px; height:160px; margin:auto; background:url(../imagens/faixa.jpg); }
div#header { width:960px; height:160px; margin:auto; background:url(../imagens/faixa.jpg); }
div#header div.logo { width:514px; height:150px; float:left; }
div#header div.logo h1{ text-indent:-9999px; }

/*  Content   */

.Title{margin-top:20px;width:180px;height:auto;}
.Title2{width:100%; height:auto;}
.TitlePat{width:167px;height:auto;float:right;margin-top:45px;}	

div#content_page{width:960px;height:750px;margin:auto;}
div#nav{margin-top:10px;width:185px;height:auto;float:left;}
div#nav .institucional{width:180px; height:auto;}
div#nav .inst ul{color:#FFF;}
div#nav .inst li{color:#FFF;border-bottom: 1px solid #666;padding: 6px;font-size:12px;}
div#nav	.ministerio{margin-top:10px; width:180px; height:auto;}
div#nav .ministerio .igreja ul{color:#FFF;}
div#nav	.ministerio .igreja li{color:#FFF;border-bottom: 1px solid #666;padding: 6px;font-size:12px;}
div#nav	.pesq{margin-top:10px;width:179px;background-image:url(../imagens/fundo_pesq.png); background-repeat:no-repeat; background-position:center;height:80px;padding-left:5px;}
div#nav	.news{margin-top:10px;width:180px;height:130px;}
#banner{width:760px;height:240px;float:right;margin-top:10px;background-color:#000;}
#informativo{width:580px;height:auto;float:left;margin-top:15px;margin-left:20px;}
#informativo .estudos{width:260px;height:153px;float:right;margin-top:15px;background-color:#000;}
#informativo .destaques{width:300px;height:153px;float:left;margin-top:15px;background-color:#000;}
#links{width:580px;height:100px;float:left;margin-top:15px;margin-left:20px;background-color:#000;}
#pedidooracao{width:167px;height:129px;float:right;margin-top:15px;}
#mensagem{width:580px;	height:150px;float:left;margin-top:15px;margin-left:20px;background-color:#000;}
#patrocinio{width:167px;height:265px;float:right;margin-top:15px;background-color:#000;}

/*  Footer   */
#footer{width:100%;height:80px;margin-bottom:30px;background-image:url(../imagens/faixa_footer.png); background-repeat:repeat-x;}
